error case
ARG="6 4 11 5 10 13 7 12 1 8 9 2 3"; ./push_swap $ARG | ./checker_MAC $ARG

pb
pb
rb
pb
rrb
pb
rrb
pb
rrb
pb
rr
pb
rrb
pb
ra
pb
pb
pb
rb
rb
rb
pb
pb
rb
rb
rb
pa
pa
pa
pa
pa
pa
pa
pa
pa
pa
pa
pa
pa

